@model IEnumerable<inmobiliaria_AT.Models.Pago>

@{
    ViewData["Title"] = "Pagos del Contrato";
    bool isAdmin = User.IsInRole("Administrador");
    bool IsEmple = User.IsInRole("Empleado");
}

<div class="text-center">
    <h1 class="display-4">Pagos: @ViewBag.contrato.Inqui.NombreCompleto - @ViewBag.contrato.DireccionInmueble </h1>
</div>

<!-- Bot贸n para agregar nuevo pago -->

<a href="@Url.Action("Nuevo", "Pago", new { id = ViewBag.contrato.Id })" class="btn btn-success btn-custom" title="Pagar">
    <h7 style="font-weight: bold;">Pagar</h7>
</a>

<table class="table">
    <thead>
        <th>ID</th>
        <th>Fecha</th>
        <th>Inmueble</th>
        <th>Monto</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Concepto)</th>
        <th>Estado</th>
    </thead>
    <tbody>
        @if (Model == null || !Model.Any())
        {
            <tr>
                <td colspan="6" class="text-center">No se encontraron pagos para este contrato.</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                    <td>@item.DireccionContrato</td>
                    <td>@item.Monto.ToString("C")</td>
                    <td>@item.Concepto.Nombre</td>
                    @if (item.Estado == true)
                    {
                        <td>Pagado</td>
                    }
                    else
                    {
                        <td>Anulado</td>
                    }
                    @if (IsEmple || isAdmin)
                    {
                        <td>
                            <!-- Botones de acciones (detalle, eliminar) -->
                            <a href="/Pago/Detalle/@item.Id" class="btn btn-info">Detalles</a>
                            @if (item.Estado != false)
                            {
                                <button type="button" class="btn btn-danger"
                                    onclick="anular(@item.Id, '@item.Fecha', '@item.Contrato.Inmu.Direccion', '@item.Monto', '@item.Concepto.Nombre')">
                                    Anular
                                </button>
                            }
                            else
                            {
                                <button disabled type="button" class="btn btn-secondary"
                                    onclick="anular(@item.Id, '@item.Fecha', '@item.Contrato.Inmu.Direccion', '@item.Monto', '@item.Concepto.Nombre')">
                                    Anular
                                </button>
                            }
                            @* <button type="button" class="btn btn-danger"
                onclick="eliminar(@item.Id, '@item.Fecha.ToString("dd/MM/yyyy")', '@item.DireccionContrato',
                '@item.Monto.ToString("C")', '@item.Concepto.Nombre')">
                Eliminar
                </button> *@
                        </td>
                    }
                </tr>
            }
        }
    </tbody>

</table>


<div class="modal fade" id="modal_anular_pago" tabindex="-1" aria-labelledby="modal_anular_pagoLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_anular_pagoLabel">Confirmar Anulacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-action="Anular" id="form_anular_pago">
                <div class="modal-body">
                    <input type="hidden" name="Id" value="" id="pago_anular_id">
                    <p>
                        <span id="pago_anular_fecha"></span><br>
                        <span id="pago_anular_direccion"></span><br>
                        <span id="pago_anular_monto"></span><br>
                        <span id="pago_anular_concepto"></span><br>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_eliminar_pago" tabindex="-1" aria-labelledby="modal_eliminar_pagoLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_eliminar_pagoLabel">Confirmar Eliminaci贸n</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-action="Eliminar" id="form_eliminar_pago">
                <div class="modal-body">
                    <input type="hidden" name="Id" value="" id="pago_eliminar_id">
                    <p>
                        <span id="pago_eliminar_fecha"></span><br>
                        <span id="pago_eliminar_direccion"></span><br>
                        <span id="pago_eliminar_monto"></span><br>
                        <span id="pago_eliminar_concepto"></span><br>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function eliminar(id, fecha, direccion, monto, concepto) {
            document.querySelector("#pago_eliminar_id").value = id;
            document.querySelector("#pago_eliminar_fecha").innerText = "Fecha: " + fecha;
            document.querySelector("#pago_eliminar_direccion").innerText = "Direcci贸n: " + direccion;
            document.querySelector("#pago_eliminar_monto").innerText = "Monto: " + monto;
            document.querySelector("#pago_eliminar_concepto").innerText = "Concepto: " + concepto;
            $("#modal_eliminar_pago").modal("show");
        }
        function anular(id, fecha, direccion, Monto, tipo, plazo) {
            document.querySelector("#pago_anular_id").value = id;
            document.querySelector("#pago_anular_fecha").innerText = "Fecha: " + fecha;
            document.querySelector("#pago_anular_direccion").innerText = "Direcci贸n: " + direccion;
            document.querySelector("#pago_anular_monto").innerText = "Monto: " + Monto;
            $("#modal_anular_pago").modal("show");
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
}
