@model IEnumerable<inmobiliaria_AT.Models.Inmueble>

<table class="table text-center mt-3">
    <thead>
        <tr>
            <th>Código</th>
            <th>Dirección</th>
            <th>Tipo</th>
            <th>Ambientes</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Suspender / Activar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inmueble in Model)
        {
            <tr>
                <td>@inmueble.Id</td>
                <td>@inmueble.Direccion</td>
                <td>@inmueble.TipoDescripcion</td>
                <td>@inmueble.Ambientes</td>
                <td>$ @inmueble.Precio</td>
                @* <td>@(inmueble.Estado ? "Disponible" : "No Disponible")</td> *@
                <td>
                    @if (inmueble.Estado)
                    {
                        var estado = inmueble.Estado;
                        <span class="badge bg-success" )">
                            Disponible
                        </span>
                    }
                    else
                    {
                        <!-- Opcionalmente, maneja el caso en que `item.Estado` es null -->
                        <span class="badge bg-danger">
                            No Disponible
                        </span>
                    }
                </td>
                <td>
                    @if (!inmueble.Estado)
                    {
                        <button type="button" class="btn btn-success" onclick="reactivar(@inmueble.Id)" title="Reactivar">
                            <i class="fa-solid fa-play fa-lg"></i>
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-warning" onclick="suspender(@inmueble.Id)" title="Suspender">
                            <i class="fa-solid fa-pause fa-lg"></i>
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
