@model IEnumerable<inmobiliaria_AT.Models.Inmueble>


<h2>Inmuebles Disponibles</h2>
<table>
    <thead>
        <tr>
            <th>Dirección</th>
            <th>Tipo</th>
            <th>Ambientes</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Superficie</th>
            <th>Precio</th>
            <th>Propietario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inmueble in Model)
        {
            <tr>
                <td>@inmueble.Direccion</td>
                <td>@inmueble.TipoDescripcion</td>
                <td>@inmueble.Ambientes</td>
                <td>@inmueble.Latitud</td>
                <td>@inmueble.Longitud</td>
                <td>@inmueble.Superficie</td>
                <td>@inmueble.Precio</td>
                <td>@inmueble.PropietarioInmueble.Nombre @inmueble.PropietarioInmueble.Apellido</td>
            </tr>
        }

    </tbody>
</table>

<div class="form-group-spacing volver">
    <a asp-action="Index" title="Volver">
        <i class="fa-solid fa-undo"></i>
    </a>
</div>
