@model IEnumerable<inmobiliaria_AT.Models.Inquilino>
@{
    ViewData["Title"] = "Listado de Inquilinos";
    bool isAdmin = User.IsInRole("Administrador");
    bool IsEmple = User.IsInRole("Empleado");
}
<div class="text-center">
    <h1>Inquilinos</h1>
</div>
<p>
    <button type="button" class="btn btn-ligth">
        <a href="/Inquilino/Editar" title="Agregar Inquilino">
            <i class="fa-duotone fa-solid fa-plus"></i>
        </a>
    </button>
</p>
<table class="table text-center">
    <thead>
        <th>
            Código
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @if (IsEmple || isAdmin)
                    {
                        <a href="/Propietario/Editar/@item.Id"></a>
                        <form action="@Url.Action("Editar", new{id = item.Id})" method="get" style="display:inline;">
                            <button type="submit" class="btn btn-warning btn-custom" title="Editar">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                        </form>
                        <a href="/Propietario/Detalle/@item.Id"></a>
                        <form action="@Url.Action("Detalle", new{id = item.Id})" method="get" style="display:inline;">
                            <button type="submit" class="btn btn-info btn-custom" title="Detalles">
                                <i class="fa-solid fa-circle-info"></i>
                            </button>
                        </form>
                    }
                    @if (isAdmin)
                    {
                        <button type="submit" class="btn btn-danger btn-custom"
                            onclick="eliminar(@item.Id, `@item.Nombre`, `@item.Apellido`)" title="Eliminar">
                            <i class="fas fa-trash"></i>
                        </button>
                    }
                </td>
            </tr>
        }
        <td>

        </td>
    </tbody>
</table>
<div class="modal fade" id="modal_eliminar_inquilino" tabindex="-1" aria-labelledby="modal_eliminar_inquilinoLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_eliminar_inquilinoLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-action="Eliminar" id="form_eliminar_inquilino">
                <div class="modal-body">
                    <input type="hidden" name="Id" value="" id="inquilino_eliminar_id">
                    <p>Inquilino: <span id="inquilino_eliminar_nombre"></span> <span
                            id="inquilino_eliminar_apellido"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger"> Confirmar</i></button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="modal fade" id="modal_success_message" tabindex="-1" aria-labelledby="modalSuccessMessageLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>@TempData["SuccessMessage"]</p>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            // Muestro el modal de éxito si existe un mensaje en TempData
            if ($('#modal_success_message').length) {
                $('#modal_success_message').modal('show');
                // Oculto el modal después de 3 segundos
                setTimeout(function () {
                    $('#modal_success_message').modal('hide');
                }, 3000);
            }
        });

        function eliminar(id, nombre, apellido) {
            document.querySelector("#inquilino_eliminar_id").value = id;
            document.querySelector("#inquilino_eliminar_nombre").innerText = nombre;
            document.querySelector("#inquilino_eliminar_apellido").innerText = apellido;
            $("#modal_eliminar_inquilino").modal("show");
        }
    </script>
}