@model inmobiliaria_AT.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
    int id = Model == null ? 0 : Model.Id;
    string usuarioLogueado = User.Identity.IsAuthenticated ? User.Identity.Name : "";
    string nombre = Model == null ? "" : Model.NombreCompleto;

    bool isAdmin = User.IsInRole("Administrador");
}

@if (isAdmin && usuarioLogueado != nombre)
{
    <h2>Editar Usuario: @nombre</h2>
}
else
{
    <h2>Mi Perfil</h2>
}
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Editar" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Campo oculto para ID -->
            <input type="hidden" name="Id" value="@id" />

            <div class="row">
                <div class="form-group col-md-6 form-group-spacing">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 form-group-spacing">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 form-group-spacing">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 form-group-spacing">
                    <label asp-for="Clave" class="control-label"></label>
                    <input type="password" asp-for="Clave" class="form-control" />
                    <span asp-validation-for="Clave" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                @if (isAdmin)
                {
                    <div class="form-group col-md-6 form-group-spacing">
                        <label class="control-label">Rol</label>
                        <select asp-for="Rol" class="form-control" asp-items="ViewBag.Roles">
                            <option value="">Seleccione un rol</option>
                        </select>
                        <span asp-validation-for="Rol" class="text-danger"></span>
                    </div>
                }
            </div>

            <div class="row">
                <div class="form-group col-md-6 form-group-spacing">
                    <label for="avatarFile">Cambiar Avatar</label>
                    <input type="file" name="avatarFile" id="avatarFile" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 form-group-spacing">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
            </div>
        </form>

        <!-- Formulario para eliminar el avatar, separado del formulario de edición -->
        <form asp-action="EliminarAvatar" asp-route-id="@Model.Id" method="post" style="display:inline;">
            @Html.AntiForgeryToken()
            @if (!string.IsNullOrEmpty(Model.Avatar))
            {
                <div class="image-container" style="width: 200px; display: inline-block;">
                    <img src="@Model.Avatar" alt="Avatar" class="img-thumbnail"
                        style="max-width: 100%; max-height: 200px;" />
                    <button type="submit" class="btn btn-danger btn-sm mb-3" style="width: 100%;">Eliminar Avatar</button>
                </div>
            }
            else
            {
                <p>Sin avatar</p>
            }
        </form>
        <div class="form-group-spacing ">
            <a asp-action="Index" class="btn btn-dark mb-3" title="Volver">
                <i class="fa-solid fa-undo"></i>
            </a>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}